@font-face {
  font-family: "iconfont"; /* Project id 4788280 */
  src: url('iconfont.ttf?t=1735657728614') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before {
  content: "\e620";
}

.icon-clock:before {
  content: "\e6db";
}

.icon-wode:before {
  content: "\e61a";
}

.icon-chaxun:before {
  content: "\e61b";
}

.icon-xihuan:before {
  content: "\e61c";
}

.icon-quanbu:before {
  content: "\e61f";
}

.icon-caidan:before {
  content: "\e60e";
}

